body{
    background-color: cadetblue;
}


.box-sizing{
 background-color: rgb(54, 34, 186);   
 width: 700px;
 height: 700px;
margin: auto;
/* using grid */
/* display: grid; */
/* place-content: center; */


 display: flex;
gap:20px;
justify-content: center;
align-items: center;

}
.containt-box{
    background-color: red;
    width: 300px;
    height: 300px;
    box-sizing:content-box;
    padding: 80px;

}
 .border-box{
    background-color: rgb(33, 222, 8);
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    padding: 80px;

} 


/* banner */
.banner{
    background-color:pink;
    border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
    border: 6px solid rgb(76, 4, 243);
    width: 1100px;
    height: 500px;
    margin: auto;
    padding: 30px;
    gap: 100px;
    p{
        font-size: 20px;
        font-weight: 400;
    }
    button{
        background-color: rgb(96, 6, 241);
        margin: auto;
       
        width: 130px;
        height: 50px;
        border-radius: 10px;
        font-size: medium;
        font-weight: 700;
        border: none;
        
    }
    button:hover {
      background-color: rgb(243, 10, 41);
      color: yellow;
    }
}   
.banner-img{
    width: 400px;
    height: 400px;
}
.first{
    font-size: 50px;
    font-weight: 700px;
}
.first:hover{
    color: #f50303e1;
}
.m{
    color:cyan;
}
.f{
    color: blue;
}
.w{
    color: darkmagenta;
}